html, body, #root {
  height: 100%; /* Ensure the root container takes full height */
  margin: 0;
}

.App {
  display: flex;
  min-height: 100vh;
  background-color: #343a46;
  color: #fff;
}

.section {
  flex: 1;
}